    body {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    header {
        width: 100vw;
        height: 15vh;
        background-color: #3468FC;
        display: flex;
        justify-content: space-between;
    }

    .icon {
        margin-left: 3vh;
        
    }

    .valueLetter {
        font-size: 90px;

    }

    .background {
        text-align: center;
        margin-top: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .value {
        display: flex;
        width: 1000px;
        height: 125px;
        border-radius: 10vw;
        border-color: #8CAAFD;
        border-width: 1vw;
        justify-content: center;
        font-size: 80px;
        background-color: white;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    .eye {
        margin-right: 10vw;
        align-self: flex-start;
    }

    .background2 {
        background-color: #ffffff;
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .midButton {
        height: 80px;
        width: 800px;
        background-color: #8CAAFD;
        border-radius: 10vw;
        border: 0;
        color: #ffffff;
        font-size: 40px;
        margin-bottom: 15vh;
    }

    .background3 {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 30vh;
        width: 100vw;
    }

    .footerButton {
        justify-content: space-evenly;
        height:150px;
        max-height: 200px;
        width: 2000px;
        max-width: 180px;
        border-radius: 6vh;
        border: 0;
        background-color: #8CAAFD;
    }

    .iconButton {
        height:90px;
        width: 100px;
    }
    .number{
        height: 20px;
        width: 40px;
    }

